package com.example.contactlabel


import android.annotation.SuppressLint

import android.database.Cursor
import androidx.appcompat.app.AppCompatActivity
import android.os.Bundle
import android.provider.ContactsContract

impo